<div class="header">
    <h2>All Sources</h2>

    <div class="actions">
      <button class="btn green" (click)="selectedSource = null; showForm = true">+ Add Source</button>
      <button class="btn dark" (click)="goToStory()">Story Feed</button>
    </div>
  </div>


  <div class="search-bar">
  <input 
    type="text" 
    placeholder="Search sources..." 
    [(ngModel)]="query"
    (keyup.enter)="onSearch()"
  />
  <button class="btn blue" (click)="onSearch()">Search</button>
</div>

 <div class="list">
    @for (source of sources; track source.id) {
      <div class="list-row">

      
        <div class="col id">{{ source.id }}</div>

      
        <div class="col name">
          <a href="#">{{ source.name }}</a>
        </div>

     
        <div class="col url">
          <a [href]="source.url" target="_blank">Visit URL</a>
        </div>

      
        <div class="col tags">
          @for (company of source.tagged_companies_data; track company.id) {
            <span class="tag">{{ company.name }}</span>
          }
        </div>
        @if (source.is_owner ||  source.is_staff){
          <div class="col actions">
          <button class="btn blue" (click)="updateSource(source)">Update Source</button>
          <button class="btn red" (click)="deleteSource(source.id)">Delete</button>
        </div>

        }
        

      </div>
    }

    @if (sources.length === 0) {
      <p>No sources found</p>
    }
  </div>


<div class="row">
  <div class="col-xs-12 col-12">
    <pagination 
      [totalItems]="totalItems"
      [(ngModel)]="currentPage"
      (pageChanged)="pageChanged($event)"
      [boundaryLinks]="true"
      [maxSize]="5"
      [itemsPerPage]="6">
    </pagination>
  </div>
</div>

<pre class="card card-block card-header mb-3">
  Page changed to: {{ page }}
</pre>


  @if (showForm) {
    <app-form
      [source]="selectedSource"
      (saved)="onSourceAdded()"
      (close)="showForm = false">
    </app-form>
  }

  


  