{% extends "base.html" %}



{% block content %}

<div class="container mt-5">

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">All Sources</h2>

    <div>
       
        <a href="{% url 'source:add' %}" class="btn btn-success me-2">
            + Add Source
        </a>

        <a href="{% url 'story:list' %}" class="btn btn-dark">
            Story Feed
        </a>
    </div>
</div>

<form method="get" action="{% url 'source:list' %}" class="mb-4">
    <div class="input-group">
        <input 
            type="text" 
            class="form-control" 
            placeholder="Search sources..." 
            name="q" 
            value="{{ query|default:'' }}"
        >
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </div>
</form>

{% if story %}
<div class="mt-4">
    <h3 class="mb-3">Story Details</h3>
    <a href="{% url 'source:list' %}" class="btn btn-secondary btn-sm mb-3">Back To Source</a>
    
    <div class="card mb-3 shadow-sm border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title text-primary mb-3">
                        {{ story.title }}
                    </h5>

                    <p class="mb-2">
                        <strong>Source:</strong>
                        <span class="text-success">
                            {{ story.source.name }}
                        </span>
                    </p>

                    <p class="mb-2">
                        <strong>URL:</strong>
                        <a href="{{ story.url }}" target="_blank" class="text-decoration-none">
                            {{ story.url }}
                        </a>
                    </p>

                    <p class="mb-2">
                        <strong>Body:</strong>
                        <p class="text-muted">
                            {{ story.body_text }}
                        </p>
                    </p>

                    <p class="mb-0">
                        <strong>Tagged Companies:</strong>
                        {% for company in story.tagged_companies.all %}
                            <span class="badge bg-secondary me-1">
                                {{ company.name }}
                            </span>
                        {% empty %}
                            <span class="text-muted">No Tags</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% elif stories %}
<div class="mt-4">
    <h3 class="mb-3">Stories from Selected Source</h3>
    <a href="{% url 'source:list' %}" class="btn btn-secondary btn-sm mb-3">Back To Source</a>
    
    <div class="row text-center fw-bold border-bottom pb-2 mb-2">
        <div class="col-md-2">ID</div>
        <div class="col-md-3">Title</div>
        <div class="col-md-3">URL</div>
        <div class="col-md-2">Source</div>
        <div class="col-md-2">Action</div>
    </div>

    {% for story in stories %}
    <div class="card mb-3 shadow-sm border-0">
        <div class="card-body">
            <div class="row align-items-center text-center">
                <div class="col-md-2">
                    <strong>{{ story.id }}</strong>
                </div>
                <div class="col-md-3 text-primary">
                    <strong>{{ story.title|truncatewords:10 }}</strong>
                </div>
                <div class="col-md-3">
                    <a href="{{ story.url }}" target="_blank" class="text-decoration-none">
                        Visit
                    </a>
                </div>
                <div class="col-md-2 text-success">
                    {{ story.source.name }}
                </div>
                <div class="col-md-2">
                    <a href="?story_id={{ story.id }}"  class="btn btn-sm btn-outline-info">
                        View
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}

{% for source in page_obj %}


<div class="card mb-3 shadow-sm border-0">
<div class="card-body">

<div class="row align-items-center">

    <div class="col-md-1 fw-bold text-muted">
        {{ source.id }}
    </div>

    <div class="col-md-2 text-primary fw-semibold">
        {{ source.name }}
    </div>
  

    <div class="col-md-2">
        <a href="{{ source.url }}" target="_blank" class="text-decoration-none">
            Visit URL
        </a>
    </div>

    <div class="col-md-3">
        {% for company in source.tagged_companies.all %}
            <span class="badge bg-secondary me-1">
                {{ company.name }}
            </span>
        {% empty %}
            <span class="text-muted">No Tags</span>
        {% endfor %}
    </div>

    <div class="col-md-2">
        <a href="?source_id={{ source.id }}" class="btn btn-primary btn-sm">
            View Stories
        </a>
    </div>

   {% if request.user.is_staff or request.user == source.created_by %}
<div class="col-md-1">
    <a href="{% url 'source:update' source.id %}" class="btn btn-warning btn-sm">
        Update
    </a>
</div>
{% endif %}

{% if request.user.is_staff or request.user == source.created_by %}
<div class="col-md-1">
    <a href="{% url 'source:delete' source.id %}" class="btn btn-danger btn-sm">
        Delete
    </a>
</div>
{% endif %}

</div>

</div>
</div>

{% empty %}

<div class="alert alert-info">
    No sources available
</div>



{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            {% if query %}
                <a href="?page=1&q={{ query }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}">previous</a>
            {% else %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            {% if query %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ query }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">last &raquo;</a>
            {% else %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>

{% endif %}



{% endblock %}



