<div class="top-bar">
  <button class="btn primary">All Stories</button>

  <button class="btn primary center-btn"
  (click)="openForm()">
  + Add Story
</button>

  <button class="btn primary" (click)="goToSource()">
    Back To Source
  </button>
</div>


 <div class="search-bar">
  <input 
    type="text" 
    placeholder="Search sources..." 
    [(ngModel)]="query"
    (keyup.enter)="onSearch()"
  />
  <button class="btn blue" (click)="onSearch()">Search</button>
</div>


<div class="list">

  @for (story of stories; track story.id) {
    <div class="list-row">

      <div class="col id">{{ story.id }}</div>

      <div class="col name">
        {{ story.title }}
      </div>

      <div class="col url">
        <a [href]="story.url" target="_blank">
          Visit URL
        </a>
      </div>

        <div class="col tags">
          @for (company of story.tagged_companies_data; track company.id) {
            <span class="tag">{{ company.name }}</span>
          }
        </div>

  @if (story.is_owner || story.is_staff) {
  <div class="col actions">
    <button class="btn red" (click)="deleteStory(story.id)"> Delete </button>
  <button class="btn gray" (click)="openForm(story)">Update</button>
</div>
}
</div>

}

  @if (stories.length === 0) {
    <p>No stories found</p>
  }

</div>

<div class="row">
  <div class="col-xs-12 col-12">
    <pagination 
      [totalItems]="totalItems"
      [(ngModel)]="page"
      (pageChanged)="pageChanged($event)"
      [itemsPerPage]="10"
  [maxSize]="5"
  [boundaryLinks]="true"
  previousText="Previous"
  nextText="Next">
    </pagination>
  </div>
</div>

<pre class="card card-block card-header mb-3">
  Page changed to: {{ page }}
</pre>