<!-- <div class="modal">
  <form (ngSubmit)="submitForm()">
  <h3>{{ formData.id ? 'Update Source' : 'Add Source' }}</h3>

  

    <input
      type="text"
      [(ngModel)]="formData.name"
      name="name"
      placeholder="Name"
    />

    <input
      type="text"
      [(ngModel)]="formData.url"
      name="url"
      placeholder="URL"
    />

  
  <input
  type="text"
  name="companySearch"
  [(ngModel)]="companyQuery"
  [typeahead]="companies"
  typeaheadOptionField="name"
  (typeaheadOnSelect)="onCompanySelected($event.item)"
  placeholder="Search company..."
  class="form-control"
/>

<div class="selected-list">
  @for (c of selectedCompanies; track c.id) {
    <span class="chip">
      {{ c.name }}
      <button type="button" (click)="removeCompany(c.id)">x</button>
    </span>
  }
</div>

    <div class="actions">
      <button type="submit" class="btn green" >{{ formData.id ? 'Update' : 'Save' }}</button>
      <button type="button" class="btn red" (click)="closeForm()">
        Cancel
      </button>
    </div>

  </form>
</div>


 -->




 <div class="modal-header">
  <h4 class="modal-title">
    {{ formData.id ? 'Update Source' : 'Add Source' }}
  </h4>
  <button type="button" class="btn-close" (click)="closeForm()"></button>
</div>

<div class="modal-body">
  <form (ngSubmit)="submitForm()">

    <input
      type="text"
      [(ngModel)]="formData.name"
      name="name"
      placeholder="Name"
      class="form-control mb-2"
    />

    <input
      type="text"
      [(ngModel)]="formData.url"
      name="url"
      placeholder="URL"
      class="form-control mb-2"
    />

    <input
      type="text"
      name="companySearch"
      [(ngModel)]="companyQuery"
      [typeahead]="companies"
      typeaheadOptionField="name"
      (typeaheadOnSelect)="onCompanySelected($event.item)"
      placeholder="Search company..."
      class="form-control mb-2"
    />

    <div class="mb-2">
      @for (c of selectedCompanies; track c.id) {
        <span class="badge bg-primary me-1">
          {{ c.name }}
          <button type="button" (click)="removeCompany(c.id)">x</button>
        </span>
      }
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success">
        {{ formData.id ? 'Update' : 'Save' }}
      </button>

      <button type="button" class="btn btn-danger" (click)="closeForm()">
        Cancel
      </button>
    </div>

  </form>
</div>
