{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">





{% for story_item in page_obj %}

<div class="card mb-3 shadow-sm border-0">
<div class="card-body">

<div class="row align-items-center text-center">

<div class="col-md-1">
<strong>{{ story_item.id }}</strong>
</div>

<div class="col-md-3 text-primary">
{{ story_item.title }}
</div>

<div class="col-md-2 text-success">
{{ story_item.source.name }}
</div>

<div class="col-md-3">
<a href="{{ story_item.url }}" target="_blank" class="text-decoration-none">
Visit URL
</a>
</div>

<div class="col-md-2">
{% for company in story_item.tagged_companies.all %}
<span class="badge bg-secondary me-1">
{{ company.name }}
</span>
{% endfor %}
</div>

<div class="col-md-1">
    

 {% if request.user.is_staff or request.user == story_item.created_by %}
    <a href="{% url 'story:update' story_item.id %}" class="btn btn-sm btn-outline-info mt-1">
        Update
    </a>
{% endif %}

{% if request.user.is_staff or request.user == story_item.created_by %}
    <a href="{% url 'story:delete' story_item.id %}" class="btn btn-sm btn-outline-info mt-1">
        Delete
    </a>
{% endif %}
</div>

</div>
</div>
</div>

{% empty %}

<div class="alert alert-info">
No stories available
</div>

{% endfor %}

<!-- Pagination aligned with container -->
<div class="d-flex justify-content-center mt-4">
<div class="pagination">
    <span class="step-links">

        {% if page_obj.has_previous %}
            {% if query %}
                <a href="?page=1&q={{ query }}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}">previous</a>
            {% else %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            {% if query %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ query }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">last &raquo;</a>
            {% else %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        {% endif %}

    </span>
</div>
</div>



</div>
{% endblock %}

